@font-face {
  font-family: RobotoFlex;
  src: url(../../../public/fonts/RobotoFlex.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../../../public/fonts/RobotoMono.ttf);
}

$RobotoFlex: RobotoFlex;
$RobotoMono: RobotoMono;