@import './utils/reset';
@import './utils/colors';
@import './utils/flexBox';
@import './utils/fonts';
.containerHeader{
  @include flexBox(row,space-around,center);
  border-bottom-style: solid;
  border-bottom-color: $color2;
  border-bottom-width: 0.25vw;
  padding: 1.5vw;
  .buttonHeader {
    background-color: transparent;
    font-size: 2.7vw;
    color: $color2;
    font-family: $RobotoFlex;
  }
  .buttonHeader:hover{
    text-shadow: 0 0 0.95em currentColor;
  }
}

